<!DOCTYPE html>
<html>
<%- include('head')%>
<body>
  <%- include('header')%>
  <div class="container">
<div class="row">
	<div class="container">
		<div class="section">
			<div class="col s12">
				<h2 class="header"> Vous souhaitez nous contacter ?</h2>
				<p class="flow-text">
				vous souhaiter nous envoyer une suggestion ?,
        appronfondir un détails en particulier ?.
        Vous êtes les bienvenue ! envoyez nous donc un message <a href="mailto:khasso.bera@hotmail.com">en cliquant ici</a> et nous vous répondrons dans les meilleurs délais.
				</p>
			</div>
		</div>
	</div>
</div>


</div>
</body>
<%- include('scriptsrc.ejs') %>
</html>
