<div class="row">
	<form a class="col s10 push-s1" name="form" method="post">
		<div class="col s6 left">
			<div class="row">
				<div class="input-field col s12 left">
					<input  id="fname" type="text" name="nom" value="">
					<label for="first_name">nom</label>
				</div>
			</div>
		</div>
		<div class="col s6 right">
			<div class="row">
				<div class="input-field col s12 right">
					<input type="text" class="validate" id="last_name" name="prenom">
					<label for="lname">prénom</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="input-field col s12">
					<input type="email" name="email" class="validate" id="email">
					<label for="email">Email</label>
				</div>
			</div>
		</div>
    <div class="row">
			<div class="col s12">
				<div class="input-field col s12">
					<input type="text" name="sujet" class="validate" id="email">
					<label for="subject">sujet</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="input-field col s12">
					<textarea id="textarea1" name="message" class="materialize-textarea"></textarea>
					<label for="textarea1">Message</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<div class="input-field col s12">
					<input type="submit" class="waves-effect waves-light btn" name="submit" value="Envoyer">
				</div>
			</div>
		</div>
	</form>
</div>
