<header>
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Khasso - Bera</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">accueil</a></li>
          <li><a href="contact">contact</a></li>
          <li><a href="#">actualité</a></li>
          <li><a href="#">partenaires</a></li>
          <li><a href="#">évènements</a></li>
          <li><a href="/a-propos">à propos</a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
          <li><a href="#">accueil</a></li>
          <li><a href="contact">contact</a></li>
          <li><a href="#">actualité</a></li>
          <li><a href="#">partenaires</a></li>
          <li><a href="#">évènements</a></li>
          <li><a href="/a-propos">à propos</a></li>
        </ul>
    </div>
  </nav>
</header>
