<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#EE6E73">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="materialize\css\materialize.min.css">
  <link rel="stylesheet" href="OwlCarousel2-2.2.0\dist\assets\owl.carousel.min.css">
  <link rel="stylesheet" href="OwlCarousel2-2.2.0\dist\assets\owl.theme.default.min.css">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title><%= title %></title>
</head>
