<!DOCTYPE html>
<html>
<% include head %>
  <body class=" col s12 m4">
    <% include header %>
    <div class="owl-carousel owl-theme col s12 m4">
      <div class="img">
        <img src="img/img_caroussel1.JPG" alt="">
      </div>
      <div class="img">
        <img src="img/img_caroussel2.JPG" alt="">
      </div>
      <div class="img">
        <img src="img/img_caroussel3.JPG" alt="">
      </div>
      <div class="img">
        <img src="img/img_caroussel4.JPG" alt="">
      </div>
      <div class="img">
        <img src="img/img_caroussel5.JPG" alt="">
      </div>
      <div class="img">
        <img src="img/img_caroussel6.JPG" alt="">
      </div>
    </div>
    <div class="section center" id="index-banner">
      <div class="container center">
        <div class="row center">
          <div class="col s12 m12 l12">
            <h1 class="header">l'Association Khasso - Bera</h1>
            <h4 class="header black-text text-lighten-4">Maison de partage</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="container center">
      <div class="row center">
        <div class="col s12 m12 l12 center">
          <div class="section scrollspy center" id="materialdesign">
            <h2 class="header center black-text text-lighten-4"> Qui somme nous ?</h2>
            <p class="caption flow-text center">
              Nous sommes une association qui souhaite valoriser les cultures de l'Afrique de l'Ouest ainsi que la culture Française.
              Par le biais d’activité, action et animations autour de ces deux cultures. <a href="pages/a-propos.html"> en savoir plus</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <% include scriptsrc.ejs %>
</html>
